<div class="row">
  <div class="col-sm-12">
    <app-card [cardTitle]="'Créer un Revendeur'">
      <form [formGroup]="revendeurForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Nom</nz-form-label>
              <nz-form-control nzErrorTip="Le nom est requis">
                <input nz-input formControlName="nom" placeholder="Entrez le nom" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Téléphone</nz-form-label>
              <nz-form-control nzErrorTip="Le téléphone est requis">
                <input nz-input formControlName="Telephone" placeholder="Entrez le numéro de téléphone" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Email</nz-form-label>
              <nz-form-control nzErrorTip="L'email est requis et doit être valide">
                <input nz-input formControlName="email" placeholder="Entrez l'email" type="email" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Responsable</nz-form-label>
              <nz-form-control nzErrorTip="Le responsable est requis">
                <input nz-input formControlName="responsable" placeholder="Entrez le nom du responsable" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Matricule Fiscale</nz-form-label>
              <nz-form-control nzErrorTip="Le matricule fiscale est requis">
                <input nz-input formControlName="MF" placeholder="Entrez le matricule fiscale" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 text-end">
            <button nz-button (click)="cancel()" class="me-2">Annuler</button>
            <button nz-button nzType="primary" type="submit" [nzLoading]="isLoading">
              Créer
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div> 